.form-editable-heading {
    padding-top: 7.5px;
}

.text-area-no-resize {
    resize: none;
}

.editable-wrap {
    resize: none;
}

.editable-input {
    resize: none;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}