.idea/
build/
target/
*.iml
.gradle/
out/
classes/
webapp/org.seeknresolve.domain.entity.Bug/
webapp/org.seeknresolve.domain.entity.Project/
service/org.seeknresolve.domain.entity.Bug/
service/org.seeknresolve.domain.entity.Project/
org.seeknresolve.domain.entity.Bug/
org.seeknresolve.domain.entity.Project/
gradle.properties
*.*~
