<div class="container">

    <div class="row col-md-12">
        <div ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header">
            <h3>Role {{role.roleName}} </h3>
        </div>
    </div>

    <div class="row col-md-12" ng-if="errorMessage == null">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Permissions:</div>
                <div class="panel-body">
                    <table class="table table-hover table-striped table-condensed">
                        <tbody>
                            <tr ng-repeat="perm in role.permissions">
                                <td>{{perm.permission}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
