<div class="container" ng-controller="ProjectRoleListController">

    <div class="row col-md-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header">
            <h3>Role projektowe</h3>
        </div>
    </div>

    <div class="row col-md-12">

        <table class="table table-hover table-striped table-condensed">
            <thead>
            <th>Rola</th>
            </thead>
            <tbody>
            <tr ng-repeat="role in projectRoles">
                <td>{{role.roleName}} </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>