<div class="container">

    <div class="row col-md-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header">
            <h3>Permission
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/permission/all" role="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back to list
                    </a>
                    <button role="button" class="btn btn-danger" ng-click="deletePermission(permission.permissionName)"><span class="glyphicon glyphicon-pencil"></span> Delete</button>
                </div>

            </h3>
        </div>
    </div>

    <div class="row col-lg-12" ng-if="errorMessage == null">
        <div class="row col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Permission details:</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="permissionNameL" class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" id="permissionNameL" value="permission.permissionName" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
