<div class="container" ng-controller="BugCreateController">

    <div class="row col-md-12">
        <div class="page-header">
            <h3>Report new bug:
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/bug" role="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Enter details of new bug:</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="bugTag" class="col-md-2 control-label">Tag:</label>
                        <div class="col-md-8">
                            <input ng-model="$parent.bug.tag" type="text" required class="form-control" id="bugTag" placeholder="Tag"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bugName" class="col-md-2 control-label">Name:</label>
                        <div class="col-md-8">
                            <input ng-model="$parent.bug.name" type="text" required class="form-control" id="bugName" placeholder="Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bugReporterId" class="col-md-2 control-label">Reporter:</label>
                        <div class="col-md-8">
                            <input type="text" required disabled class="form-control"
                                   id="bugReporterId" value="{{loggedUser.firstName + ' ' + loggedUser.lastName}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bugDescription" class="col-md-2 control-label">Description:</label>
                        <div class="col-md-8">
                            <textarea ng-model="$parent.bug.description" type="text" required class="form-control"
                                      id="bugDescription" placeholder="Description" style="resize: none" rows="15">
                            </textarea>
                        </div>
                    </div>

                    <div class="pull-right">
                        <a role="button" class="btn btn-success" ng-click="createBug()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Report
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>