<div class="container">

    <div class="row col-md-12">
        <div class="page-header">
            <h3>Report new bug:
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/bug" role="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Enter details of new bug:</div>
            <div class="panel-body">
                <form novalidate class="form-horizontal" role="form" name="bugForm">
                    <div class="form-group">
                        <label for="bugProject" class="col-md-2 control-label">Project:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="bugProject" ng-model="project" ng-options="project.name for project in projects"></select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : bugForm.name.$invalid }">
                        <label for="name" class="col-md-2 control-label">Name:</label>
                        <div class="col-md-8">
                            <input ng-model="$parent.bug.name" type="text" required class="form-control" id="name" name="name" placeholder="Name"/>
                            <span class="help-block" ng-show="bugForm.name.$error.required">Please enter bug name</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="priority" class="col-md-2 control-label">Priority:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="priority" name="priority" ng-model="priority" ng-options="priority for priority in priorities"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reporterId" class="col-md-2 control-label">Reporter:</label>
                        <div class="col-md-8">
                            <input type="text" required disabled class="form-control"
                                   id="reporterId" name="reporterId" value="{{loggedUser.firstName + ' ' + loggedUser.lastName}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="assigneeId" class="col-md-2 control-label">Assignee:</label>
                        <div class="col-md-4">
                            <select class="form-control" id="assigneeId" name="assigneeId" ng-model="assignee" ng-options="user as (user.firstName + ' ' + user.lastName) for user in projectUsers">
                                <option value="">-- choose assignee --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">Description:</label>
                        <div class="col-md-8">
                            <textarea ng-model="$parent.bug.description" type="text" class="form-control text-area-no-resize"
                                      id="description" name="description" placeholder="Description" rows="15">
                            </textarea>
                        </div>
                    </div>

                    <div class="pull-right">
                        <button role="button" class="btn btn-success" ng-click="createBug()" ng-disabled="bugForm.$invalid">
                            <span class="glyphicon glyphicon-plus"></span>
                            Report
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>