<div class="container" ng-controller="BugDetailsController">

    <div class="row col-lg-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header" ng-if="errorMessage == null">
            <h3>{{bug.tag}} : {{bug.name}}
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/bug/" role="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Powrót do listy</a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-lg-12" ng-if="errorMessage == null">
        <div class="row col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Szczegóły błędu:</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="bugTag" class="col-sm-3 control-label">Tag:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" id="bugTag"
                                       value="{{bug.tag}}"/>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="bugName" class="col-sm-3 control-label">Nazwa:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" id="bugName"
                                       value="{{bug.name}}"/>
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="bugDescription" class="col-sm-3 control-label">Opis:</label>
                            <div class="col-sm-9">
                                <input type="text" disabled class="form-control" id="bugDescription"
                                       value="{{bug.description}}"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
