<div class="container">

    <div class="row col-md-12">
        <div class="col-md-12">
            <form class="form-horizontal" role="search">
                <div class="form-group">
                    <div class="col-md-12">
                        <angucomplete id="bugs"
                                      placeholder="Search for bugs"
                                      pause="400"
                                      selectedobject="foundBugs"
                                      url="http://localhost:8080/bug/search?query="
                                      datafield="object"
                                      titlefield="tag"
                                      descriptionfield="name"
                                      inputclass="form-control"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="page-header">
            <h3>List of reported bugs:
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/bugCreate" role="button" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Report new bug</a>
                    <a href="/bug/printAll" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print</a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">
        <table class="table table-hover table-striped table-condensed" ng-show="bugs.length">
            <thead>
                <th>Tag</th>
                <th>Name</th>
                <th>Project</th>
                <th>Reporter</th>
                <th>Assignee</th>
                <th>Created</th>
                <th>Last modified</th>
                <th>Status</th>
                <th>Priority</th>
            </thead>
            <tbody>
                <tr ng-repeat="bug in bugs">
                    <td>
                        <a href="#/bug/details/{{bug.tag}}">
                            {{bug.tag}}
                        </a>
                    </td>
                    <td>{{bug.name}}</td>
                    <td>
                        <a href="#/project/{{bug.projectId}}">
                            {{bug.projectName}}
                        </a>
                    </td>
                    <td>
                        <a href="#/user/{{bug.reporterId}}">
                            {{bug.reporterName}}
                        </a>
                    </td>
                    <td>
                        <user-display user-login="{{bug.assigneeLogin}}" user-name="{{bug.assigneeName}}"></user-display>
                    </td>
                    <td>{{bug.dateCreated | date:'HH:mm:ss MM-dd-yyyy'}}</td>
                    <td>{{bug.dateModified | date:'HH:mm:ss MM-dd-yyyy'}}</td>
                    <td>{{bug.state | capitalizeFilter}}</td>
                    <td><bug-priority priority="{{bug.priority}}"></bug-priority></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="!bugs.length">
            No bugs to show.
        </div>
    </div>
</div>