<div class="container">

    <div class="row col-md-12">
        <div class="page-header">
            <h3>Permissions list
                <div class="btn-group btn-group-sm pull-right">
                    <a ng-show="shouldShowCreateButton" href="#/permissionCreate" role="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create new permission
                    </a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">

        <table class="table table-hover table-striped table-condensed">
            <thead>
                <th>Permission name</th>
            </thead>
            <tbody>
                <tr ng-repeat="permission in permissions">
                    <td>
                        <a href="#/permission/{{permission.permissionName}}">
                            {{permission.permissionName}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>