<div class="container">

    <div class="row col-md-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header">
            <h3>Użytkownicy
                <div class="btn-group btn-group-sm pull-right">
                    <a ng-show="shouldShowCreateButton" href="#/user/create" role="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create user
                    </a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">

        <table class="table table-hover table-striped table-condensed">
            <thead>
            <th>Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><a href="#/user/details/{{user.login}}">{{user.login}}</a> </td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.userRole}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>