<div class="container" ng-controller="ProjectCreateController">

    <div class="row col-md-12">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="page-header">
            <h3>Utwórz nowy projekt
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/project" role="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Powrót do listy
                    </a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-lg-12" ng-if="errorMessage == null">
        <div class="row col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Szczegóły projektu:</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="projectName" class="col-sm-3 control-label">Name:</label>
                            <div class="col-sm-9">
                                <input ng-model="name" type="text" class="form-control" id="projectName" />
                            </div>
                        </div>
                    </form>

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="projectDescription" class="col-sm-3 control-label">Opis:</label>
                            <div class="col-sm-9">
                                <input ng-model="description" type="text" class="form-control" id="projectDescription" />
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="row col-lg-12" ng-if="errorMessage == null">
        <div class="row col-lg-6">
            <div class="btn-group btn-group-sm pull-right">
                <a href="#/project/create" role="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    Utwórz
                </a>
            </div>
        </div>
    </div>
</div>