<div class="container">

    <div class="row col-md-12">
        <div class="col-md-12">
            <form class="form-horizontal" role="search">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text"
                               ng-model="selectedProject"
                               placeholder="Search for projects..."
                               typeahead="project as (project.name + ' ' + project.description) for project in searchProjects($viewValue)"
                               typeahead-loading="searchingProjects"
                               typeahead-on-select="selectProject($item, $model, $label)"
                               class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row col-md-12">
        <div class="page-header">
            <h3>Projects list
                <div class="btn-group btn-group-sm pull-right">
                    <a href="#/projectCreate" role="button" class="btn btn-warning">
                        <span class="glyphicon glyphicon-plus"></span>
                        Create new project
                    </a>
                    <a href="/project/printUsers" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print</a>
                </div>
            </h3>
        </div>
    </div>

    <div class="row col-md-12">
        <table class="table table-hover table-striped table-condensed" ng-show="projects.length">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Date created</th>
            </thead>
            <tbody>
            <tr ng-repeat="project in projects">
                <td>
                    <a href="#/project/{{project.id}}">
                        {{project.name}}
                    </a>
                </td>
                <td>{{project.description}}</td>
                <td>{{project.dateCreated | date:'MM-dd-yyyy HH:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
        <div ng-show="!projects.length">
            No projects to show.
        </div>
    </div>
</div>